nav#footer.navbar.navbar-fixed-bottom
  .container-fluid
    .row
      .col-xs-10.col-sm-4
        .col-xs-2
          .action.left
            a#toggleStream(href='#')
              span.glyphicon.glyphicon-play
              audio#stream(src='http://216.250.175.13:8000/;type=mp3')
        .currentShow.col-xs-10.col-sm-6
          h6.hidden-xs Now Playing:
          if nowPlaying
            - var showRef = '/shows/' + nowPlaying.show.id
            a(href=showRef)
              p=nowPlaying.show.title
          else
            p Automator
        .ticker.currentShowTime.col-md-4.hidden-xs.hidden-sm
          p
            if nowPlaying
              span.timeslot.timeSince= nowPlaying.timeslot
              span +
            else
              span - - : - - 
      .col-xs-2.col-sm-4
        a(href='/')
          img.long-icon.hidden-xs.hidden-sm(src='/images/wmcn.png')
          img.icon(src='/images/favicon.png')
          img.long-icon.hidden-xs.hidden-sm(src='/images/917.png')
            
      .col-sm-4.hidden-xs
        .ticker.nextUpTime.col-md-4.hidden-xs.hidden-sm
          p
            if next
              span -
              span.timeslot.timeUntil= next[0].timeslot
            else 
              span - - : - -
        .nextUp.col-sm-10.col-md-6
          h6.hidden-xs Next Up:
          if next
            - var nextHref = '/shows/' + next[0].show.id
            a(href=nextHref)
              p= next[0].show.title
          else
            p Automator
        .col-sm-2
          .action.right
            a(href='#')
              span.glyphicon.glyphicon-share-alt

    
    
        
      
