extends ../../layout
block content
	.container-fluid
		.row
			.col-xs-4
				h1= title
		.row
			.col-xs-4
				p Welcome to #{title} 
	.container-fluid		
		table#userTable.table-striped.table.table-bordered.table-hover
			thead
				tr
					th user
					th dj Status
					th student Status
					th grad year
					th show
					th blurb
					th approve
			tbody
				each user, i in applicants
					tr
						td.userId= user._id
						td= user.djStatus
						td= user.studentStatus
						td= user.gradYear
						td= user.show
						td= user.blurb
						td.appApproval
