extends ../../layout
block content
	.container-fluid
		.row
			.col-xs-4
				h1= title
			.col-xs-2
				button.btn.btn-primary.app-updateButton(type='submit') Submit
		.row
			.col-xs-4
				p Welcome to #{title} 
	.container-fluid		
		table#userTable.table-striped.table.table-bordered.table-hover
			thead
				tr
					th application id
					th name
					th email
					th availability
					th grad year
					th show
					th blurb
					th approve
			tbody
				each application, i in applicants
					tr
						td.userId.availability= application._id
						td.availability= application.user.firstName + application.user.lastName
						td.availability= application.user.email
						td.availability= application.app.availability
						td.availability= application.user.gradYear
						td.availability= application.show.showTitle
						td.availability= application.show.blurb
						td.appApproval.triggerUpdate
							input.approveApp(type='checkbox')
