extends ../../layout
block content
	.container-fluid
		.row
			.col-xs-4
				h1= title
		.row
			.col-xs-4
				p Welcome to #{title} 
	.container-fluid		
		table#userTable.table-striped.table.table-bordered.table-hover
			thead
				tr
					th user
					th dj Status
					th first Name
					th last Name
					th student Status
					th mac id
					th mac iclass
					th grad year
					th show
					th blurb
			tbody
				each user, i in applicants
					tr
						td.userId= user._id
						td= user.djStatus
						td= user.firstName
						td= user.lastName
						td= user.studentStatus
						td= user.gradYear
						td= user.show
						td= user.blurb
