extends _layout

block content
  .container-fluid    
    #recent_playlists.col-xs-12.col-sm-6
      h2.section-header recent playlists:
      each p in playlists
        .playlist
        - var href = '/archive/playlists/' + p.playlist.id;
          a(href=href)
            h3 #{p.show.title}, # #{p.playlist.id}
      
    .col-xs-12.col-sm-6
      h2.section-header upcoming shows:
      each s in upcoming
        .upcomingShow
          - var href = '/shows/' + s.show.id
          a(href=href)
            h3= s.show.title
            p at 
              span.timeslot.toDate= s.timeslot
if token
  block scripts
    script(type='text/javascript').
      var tokenToStore =!{JSON.stringify(token)};
