extends _layout

block content
  .container-fluid
    if (playlists)
      .row
        .col-xs-12.col-md-6
          section
            h2.section-header Playlists
            each p in playlists
              - var p_url = '/archive/playlists/' + p.id;
              a(href= p_url)
                if p.title
                  h3= p.title
                h3 Show #{p.show_id}, Playlist ID #{p.id}
                h6.dateFromNow= p.created
        .col-xs-12.col-md-6
          section
            h2.section-header Playlists
            each p in playlists
              - var p_url = '/archive/playlists/' + p.id;
              a(href= p_url)
                if p.title
                  h3= p.title
                h3 Show #{p.show_id}, Playlist ID #{p.id}
                h6.dateFromNow= p.created

