extends layout

block content
	.container-fluid
		.row
			.col-md-12.col-lg-6
				section
					h1.category-title latest shows:
					div#playlist-carousel.carousel.slide(data-ride='carousel' data-interval='3000')
						.carousel-inner
							.item.active
								.playlist1
									.category-container
										h1.category-headline
											- var hrf = playlists[0].perma
											a.playlist1-show(href= hrf)= playlists[0].showName + ' '
												- var date0 = playlists[0].date.month + '/' + playlists[0].date.date
												span= date0
										p.helper-text with 
										p.hosts= playlists[0].hostName
							.item
								.playlist2
									.category-container
										h1.category-headline
											- var hrf = playlists[1].perma
											a.playlist2-show(href= hrf)= playlists[1].showName + ' '
												- var date1 = playlists[1].date.month + '/' + playlists[1].date.date
												span= date1
										p.helper-text with 
										p.hosts= playlists[1].hostName
							.item
								.playlist3
									.category-container
										h1.category-headline
											- var hrf = playlists[2].perma
											a.playlist3-show(href= hrf)= playlists[2].showName + ' '
												- var date2 = playlists[2].date.month + '/' + playlists[2].date.date
												span= date2
										p.helper-text with 
										p.hosts= playlists[2].hostName
							.item
								.playlist4
									.category-container
										h1.category-headline
											- var hrf = playlists[3].perma
											a.playlist4-show(href= hrf)= playlists[3].showName + ' '
												- var date3 = playlists[3].date.month + '/' + playlists[3].date.date
												span= date3
										p.helper-text with 
										p.hosts= playlists[3].hostName
						a.left.carousel-control(href='#playlist-carousel' role='button' data-slide='prev')
							span.glyphicon.glyphicon-chevron-left
						a.right.carousel-control(href='#playlist-carousel' role='button' data-slide='next')
							span.glyphicon.glyphicon-chevron-right
			.col-md-12.col-lg-6
				section
					h1.category-title new reviews:
					div#review-carousel.carousel.slide(data-ride='carousel' data-interval='4000')
						.carousel-inner
							.item.active
								- var imgUrl = "background: url(" + reviews[0].imgUrl + ") center center; background-size: cover;"
								.slider-size(style= imgUrl)
								.carousel-caption
									.review-overlay
										- var hrf = reviews[0].perma
										a.review-title(href= hrf)
											h1.album-artist.category-headline= reviews[0].artistName
											- var albumName = "'" + reviews[0].album + "'" 
											h1.category-headline= albumName

							.item
								- var imgUrl = "background: url(" + reviews[1].imgUrl + ") center center; background-size: cover;"
								.slider-size(style= imgUrl)
								.carousel-caption
									.review-overlay
										- var hrf = reviews[1].perma
										a.review-title(href= hrf)
											h1.album-artist.category-headline= reviews[1].artistName
											- var albumName = "'" + reviews[1].album + "'" 
											h1.category-headline= albumName
							.item
								- var imgUrl = "background: url(" + reviews[2].imgUrl + ") center center; background-size: cover;"
								.slider-size(style= imgUrl)
								.carousel-caption
									.review-overlay
										- var hrf = reviews[2].perma
										a.review-title(href= hrf)
											h1.album-artist.category-headline= reviews[2].artistName
											- var albumName = "'" + reviews[2].album + "'" 
											h1.category-headline= albumName
							.item
								- var imgUrl = "background: url(" + reviews[3].imgUrl + ") center center; background-size: cover;"
								.slider-size(style= imgUrl)
								.carousel-caption
									.review-overlay
										- var hrf = reviews[3].perma
										a.review-title(href= hrf)
											h1.album-artist.category-headline= reviews[3].artistName
											- var albumName = "'" + reviews[3].album + "'" 
											h1.category-headline= albumName
						a.left.carousel-control(href='#review-carousel' role='button' data-slide='prev')
							span.glyphicon.glyphicon-chevron-left
						a.right.carousel-control(href='#review-carousel' role='button' data-slide='next')
							span.glyphicon.glyphicon-chevron-right
		.row
			.col-xs-12
				h1.category-title top posts:
		.row
			.col-sm-6
				section
					div#pinned
						.category-container
							- var hrf = blogs[0].perma
							a(href= hrf)
								h1.category-headline= blogs[0].title
							p.helper-text by 
								span.author= blogs[0].djName
			.col-sm-6
				section
					div#pinned
						.category-container
							- var hrf = blogs[1].perma
							a(href= hrf)
								h1.category-headline= blogs[1].title
							p.helper-text by 
								span.author= blogs[1].djName
			//- include schedule

		//- include footer
