extends layout

block content
	.container-fluid
		//- - if (alertInfo)
		//- 	.row
		//- 		.col-md-12
		//- 			.alert.alert-success.alert-dismissible(role='alert')
		//- 				button.close(type='button' data-dismiss='alert')
		//- 					span(aria-hidden='true') !{'&times;'}
		//- 					span.sr-only Close

		//- 				strong Your playlist posted successfully! 
		//- 				span Reblog it on 
		//- 					a(href=alertInfo).alert-link Tumblr !{'>>'}
		.row
			.col-xs-12.col-sm-3.post-section
				.thumbnail
					h3.category-title recent: 
					a(href='#')
						img(data-src='holder.js/200x200')
				.thumbnail
					h4.category-title upcoming concerts:
					ul
						- var i=0
						while i<6
							li.fixie
							- i++
			.col-xs-12.col-sm-6.post-header.post-section.post-main
				h1.category-title
					a(href=perma)= title
				.post-details
					h4
						span.post-author= dj
						span.post-date= date.day + ', ' + date.month + ' ' + date.date + ' ' + date.year + ', ' + date.hour
				.post-content.playlist-content
					!{content}
			.col-xs-12.col-sm-3.post-section
				.thumbnail
					h3.category-title related content:
					a(href='#')
						img(data-src='holder.js/200x200')
						.caption
							h4.fixie
				.thumbnail
					h3.category-title now playing on wmcn:
					a(href='#')
						.caption
							h4.fixie

		//- .row
		//- 	.col-md-12
		//- 		.left-block
		//- 		.right-block
		//- 			.post-content.playlist-content
		//- 				!{content}
		//- 	.col-md-2
		//- 		h3 Related content: 
		//- 		- var i=0
		//- 		while i < 6
		//- 			.col-md-2
		//- 				.thumbnail
		//- 					a(href='#')
		//- 						img(data-src='holder.js/200x200')
		//- 						.caption
		//- 							h4.fixie
		//- 			- i++
		.row
			.col-xs-12

		//- include footer