extends layout

block content
	- if (alertInfo)
		.alert.alert-success.alert-dismissible(role='alert')
			button.close(type='button' data-dismiss='alert')
				span(aria-hidden='true') !{'&times;'}
				span.sr-only Close

			strong Your playlist posted successfully! 
			span Reblog it on 
				a(href=alertInfo).alert-link Tumblr !{'>>'}
	.page-header
		h1
			a(href=perma)= title
			small.post-author= dj
			small.post-date= date.day + ', ' + date.month + ' ' + date.date + ' ' + date.year + ', ' + date.hour
	.post-content.playlist-content
		!{content}