extends _layout

block content
  .container-fluid
    .row
      #staff
        if staff
          if staff.dj
            #tier.col-xs-12.col-sm-6
              h2 DJs
              each user in staff.dj
                - var userHref = '/staff/' + user.id
                a(href=userHref)
                  p #{user.first_name} #{user.last_name}
          if staff.staff
            h2 Staff
            #tier.col-xs-12.col-sm-6
            
              if staff.management && staff.management.length
                br
                h4 Management
                each user in staff.management
                  - var userHref = '/staff/' + user.id
                  a(href=userHref)
                    p #{user.first_name} #{user.last_name}
                
              if staff.web && staff.web.length
                br
                h4 Web
                each user in staff.web
                  - var userHref = '/staff/' + user.id
                  a(href=userHref)
                    p #{user.first_name} #{user.last_name}
            
              if staff.staff.length
                h4 Other Staff
                each user in staff.staff
                  - var userHref = '/staff/' + user.id
                  a(href=userHref)
                    p #{user.first_name} #{user.last_name}
