extends ../_layout
block content
  .container-fluid
    .row
      .left-pane.col-xs-12.col-sm-6
          //   show title
          - var showHref = '/shows/' + playlist.show_id
          a(href=showHref)
            h1.section-header= show.title
    .row
      .left-pane.col-xs-12.col-sm-6
        //  created
        h3.date= playlist.created
        if hosts
          p with 
            each host, index in hosts
              - var userHref = '/staff/' + host.id
              if index === hosts.length - 1
                span and 
              a(href=userHref)
                span #{host.first_name} #{host.last_name}
                if index !== hosts.length - 1 
                  if hosts.length == 2
                    span  
                  else
                    span , 
        - var char = playlist.content.charAt(0);
        if char === '<'
          article!= playlist.content
        else
          article= playlist.content
        
      #related.right-pane.col-xs-12.col-sm-6
        if related
          h4 Other playlists from #{show.title}
          each obj in related
            .row
              .col-md-10.col-lg-6
                .relatedContent
                  - var href = '/archive/playlists/' + obj.id;
                  a(href=href)
                    h5.date-shorthand= obj.created
            
