extends ./layout-dj

block content
	.container-fluid
		//- .row
		//- 	.host.col-xs-12.col-sm-4
		//- 		h4 #{djName}
		//- 	.show.col-xs-12.col-sm-4
		//- 		h4 #{show}
		//- 	.date.col-xs-12.col-sm-4
		//- 		h4 #{date}
		.row
			.col-xs-12.col-sm-4.col-sm-offset-4
				//- h4 #{showTitles}
				//- h4 #{showIds}
				.dropdown
					button#showSelectDropdown.bt.btn.dropdown-toggle(type='button' data-toggle='dropdown') Which show is this playlist for? 
						span.caret
					ul.dropdown-menu(role='menu' aria-labelledby='showSelectDropdown')
						- var i=0;
						each title in showTitles
							li(role='presentation')
								- var oncliq = "document.makePlaylist.show_id.value='" + showIds[i] + "';return false;";
								a.selectShow(role='menuitem' tabindex='-1' onclick= oncliq)= title
							- i++

		//- .row
		//- 	.col-xs-12
		//- 		button.btn.bt.center-block import playlist file
		.row
			form(role='form', method='post', action='/dj/playlist', id='makePlaylist' name='makePlaylist')
				.form-group
						input.form-control(type='hidden', name='show_id', value= 'test')
				- var songCount = 1
				while songCount < 21
					.row
						.saPair
							.col-xs-12.col-sm-1.col-sm-offset-1
								h4.number=songCount
							.col-xs-6.col-sm-4
								.form-group
									label(for='artistInput') artist
									input#artistInput.form-control.locked(type='text', placeholder='Outkast', name='artistInput')
							.col-xs-6.col-sm-4
								.form-group
									label(for='songInput') song
									input#songInput.form-control.locked(type='text', placeholder='Ms. Jackson', name='songInput')
					- songCount++
				.col-xs-12
					button.btn.submit.submitBt.locked(type='submit') Submit




