extends ../layout

block content
	.container-fluid
		a(href='#')
			h1.category-headline= title

	form(role='form', method='post', action='/apply/dj', id='djAppSubmission')
		.new-or-returning
			.row
				.col-xs-12
					if user
						p.help-block Welcome back, 
							span #{user.info.firstName}. 
						h3.app-category Are you applying for a new show?
						p.help-block If you are re-applying for an old show - same name, same DJs - select it from the dropdown below. The form will autofill with your info, which you are free to edit. Otherwise select "new show".
						.col-xs-12
							.button-group.single-line
								label.btn New show 
									input(type='radio' name='selectShow' value=0)
								- var i=1;
								each show in user.shows
									label.btn= show.showTitle + ' '
										input(type='radio' name='selectShow' value=i)
									- i++
					else
						p.help-block If you already have a WMCN.fm account, please
							a(href='/login')  log in
							span .	
		.num-djs
			hr
			.row
				.col-xs-12
					h3.app-category how many hosts will your show have?
					.button-group.dj-number.single-line
						label.btn 1 
							input(type='radio' name='numDjs' value=1 id='1dj')
						label.btn 2 
							input(type='radio' name='numDjs' value=2 id='2dj')
						label.btn 3 
							input(type='radio' name='numDjs' value=3 id='3dj')
						label.btn 4 
							input(type='radio' name='numDjs' value=4 id='4dj')
		hr
		.per-person1
			.contact-info
				.row
					//- h3.app-category contact details:
				.row
					.col-xs-12.col-sm-6
						.form-group
							label(for='firstName') first name
							input#firstName.form-control(type='text', placeholder='John', name='firstName')
					.col-xs-12.col-sm-6
						.form-group
							label(for='lastName') last name
							input#lastName.form-control(type='text', placeholder='Smith', name='lastName')
				.row
					.col-xs-12.col-sm-6
						.form-group
							label(for='email') email address
							input#email.form-control(type='email', placeholder='myname@macalester.edu', name='email')
					.col-xs-12.col-sm-6
						.form-group
							label(for='phone') phone number
							input#phone.form-control(type='tel', placeholder=1234567890, name='phone')
			.row
				.col-xs-12
					h4.app-category are you a current or former student, staff, or faculty member?
					.button-group.mac-affil1.single-line
						label.btn.mac-yes1 yes 
							input(type='radio' name='studentStatus' value=1 id='mac-yes')
						label.btn no 
							input(type='radio' name='studentStatus' value=2 id='mac-no')
			.row
			.mac-affiliation1
				.row
					.col-xs-12.col-sm-4
						.form-group
							label(for='macIdNum') macalester id number
							input#idNum.form-control(type='number', name='macIdNum', placeholder=123456789)
					.col-xs-12.col-sm-4
						.form-group
							label(for='iclass') 5-digit iclass number
							input#iclass.form-control(type='number', name='iclass', placeholder=12345)
							p.help-block The five-digit number preceded by an asterisk on the back of your Macalester ID.
					.col-xs-12.col-sm-4
						label graduating class
						.button-group
							label.btn 2015 
								input(type='radio' name='gradYear' value=2015)
							label.btn 2016 
								input(type='radio' name='gradYear' value=2016)
							label.btn 2017 
								input(type='radio' name='gradYear' value=2017)
							label.btn 2018 
								input(type='radio' name='gradYear' value=2018)
							label.btn Alum 
								input(type='radio' name='gradYear' value=9999)

			hr
		.per-person2
			.contact-info
				.row
					//- h3.app-category contact details:
				.row
					.col-xs-12.col-sm-6
						.form-group
							label(for='firstName') first name
							input#firstName.form-control(type='text', placeholder='John', name='firstName')
					.col-xs-12.col-sm-6
						.form-group
							label(for='lastName') last name
							input#lastName.form-control(type='text', placeholder='Smith', name='lastName')
				.row
					.col-xs-12.col-sm-6
						.form-group
							label(for='email') email address
							input#email.form-control(type='email', placeholder='myname@macalester.edu', name='email')
					.col-xs-12.col-sm-6
						.form-group
							label(for='phone') phone number
							input#phone.form-control(type='tel', placeholder=1234567890, name='phone')
			.row
				.col-xs-12
					h4.app-category are you a current or former student, staff, or faculty member?
					.button-group.mac-affil2.single-line
						label.btn yes 
							input(type='radio' name='studentStatus' value=1 id='mac-yes2')
						label.btn no 
							input(type='radio' name='studentStatus' value=2 id='mac-no')
			.row
			.mac-affiliation2
				.row
					.col-xs-12.col-sm-4
						.form-group
							label(for='macIdNum') macalester id number
							input#idNum.form-control(type='number', name='macIdNum', placeholder=123456789)
					.col-xs-12.col-sm-4
						.form-group
							label(for='iclass') 5-digit iclass number
							input#iclass.form-control(type='number', name='iclass', placeholder=12345)
							p.help-block The five-digit number preceded by an asterisk on the back of your Macalester ID.
					.col-xs-12.col-sm-4
						label graduating class
						.button-group
							label.btn 2015 
								input(type='radio' name='gradYear' value=2015)
							label.btn 2016 
								input(type='radio' name='gradYear' value=2016)
							label.btn 2017 
								input(type='radio' name='gradYear' value=2017)
							label.btn 2018 
								input(type='radio' name='gradYear' value=2018)
							label.btn Alum 
								input(type='radio' name='gradYear' value=9999)

			hr
		.per-person3
			.contact-info
				.row
					//- h3.app-category contact details:
				.row
					.col-xs-12.col-sm-6
						.form-group
							label(for='firstName') first name
							input#firstName.form-control(type='text', placeholder='John', name='firstName')
					.col-xs-12.col-sm-6
						.form-group
							label(for='lastName') last name
							input#lastName.form-control(type='text', placeholder='Smith', name='lastName')
				.row
					.col-xs-12.col-sm-6
						.form-group
							label(for='email') email address
							input#email.form-control(type='email', placeholder='myname@macalester.edu', name='email')
					.col-xs-12.col-sm-6
						.form-group
							label(for='phone') phone number
							input#phone.form-control(type='tel', placeholder=1234567890, name='phone')
			.row
				.col-xs-12
					h4.app-category are you a current or former student, staff, or faculty member?
					.button-group.mac-affil3.single-line
						label.btn yes 
							input(type='radio' name='studentStatus' value=1 id='mac-yes3')
						label.btn no 
							input(type='radio' name='studentStatus' value=2 id='mac-no')
			.row
			.mac-affiliation3
				.row
					.col-xs-12.col-sm-4
						.form-group
							label(for='macIdNum') macalester id number
							input#idNum.form-control(type='number', name='macIdNum', placeholder=123456789)
					.col-xs-12.col-sm-4
						.form-group
							label(for='iclass') 5-digit iclass number
							input#iclass.form-control(type='number', name='iclass', placeholder=12345)
							p.help-block The five-digit number preceded by an asterisk on the back of your Macalester ID.
					.col-xs-12.col-sm-4
						label graduating class
						.button-group
							label.btn 2015 
								input(type='radio' name='gradYear' value=2015)
							label.btn 2016 
								input(type='radio' name='gradYear' value=2016)
							label.btn 2017 
								input(type='radio' name='gradYear' value=2017)
							label.btn 2018 
								input(type='radio' name='gradYear' value=2018)
							label.btn Alum 
								input(type='radio' name='gradYear' value=9999)

			hr
		.per-person4
			.contact-info
				.row
					//- h3.app-category contact details:
				.row
					.col-xs-12.col-sm-6
						.form-group
							label(for='firstName') first name
							input#firstName.form-control(type='text', placeholder='John', name='firstName')
					.col-xs-12.col-sm-6
						.form-group
							label(for='lastName') last name
							input#lastName.form-control(type='text', placeholder='Smith', name='lastName')
				.row
					.col-xs-12.col-sm-6
						.form-group
							label(for='email') email address
							input#email.form-control(type='email', placeholder='myname@macalester.edu', name='email')
					.col-xs-12.col-sm-6
						.form-group
							label(for='phone') phone number
							input#phone.form-control(type='tel', placeholder=1234567890, name='phone')
			.row
				.col-xs-12
					h4.app-category are you a current or former student, staff, or faculty member?
					.button-group.mac-affil4.single-line
						label.btn yes 
							input(type='radio' name='studentStatus' value=1 id='mac-yes4')
						label.btn no 
							input(type='radio' name='studentStatus' value=2 id='mac-no')
			.row
			.mac-affiliation4
				.row
					.col-xs-12.col-sm-4
						.form-group
							label(for='macIdNum') macalester id number
							input#idNum.form-control(type='number', name='macIdNum', placeholder=123456789)
					.col-xs-12.col-sm-4
						.form-group
							label(for='iclass') 5-digit iclass number
							input#iclass.form-control(type='number', name='iclass', placeholder=12345)
							p.help-block The five-digit number preceded by an asterisk on the back of your Macalester ID.
					.col-xs-12.col-sm-4
						label graduating class
						.button-group
							label.btn 2015 
								input(type='radio' name='gradYear' value=2015)
							label.btn 2016 
								input(type='radio' name='gradYear' value=2016)
							label.btn 2017 
								input(type='radio' name='gradYear' value=2017)
							label.btn 2018 
								input(type='radio' name='gradYear' value=2018)
							label.btn Alum 
								input(type='radio' name='gradYear' value=9999)

		.per-show
			.row
			.row
				h3.app-category show details:
			.row
				.col-xs-12.col-sm-4
					.form-group
						label(for='show title') show title
						input#title.form-control(type='text', placeholder='My Show', name='show')
				

				.col-xs-12.col-sm-4
					.form-group
						label(for='blurb') program guide blurb
						textarea.form-control(rows='2', name='blurb')
						p.help-block A short 2-3 sentence show description for the program guide.
				.col-xs-12.col-sm-4
						label would you like a one or two hour show?
						.button-group
							label.btn one 
								input(type='radio' name='timePref' id='grad2015' value=1)
							label.btn two 
								input(type='radio' name='timePref' id='grad2017' value=2)
							label.btn either 
								input(type='radio' name='timePref' id='grad2017' value=3)
			.row
				h3.app-category availability:
				p.help-block Mark every hour during which you - and your co-hosts if applicable - are available to have a show. The more available you are, the more likely you are to get a show.
			.row
				.col-xs-12
					table.table-condensed.table-hover.table.availability-table
						thead
							th.category-headline hour
							th.category-headline sun
							th.category-headline mon
							th.category-headline tue
							th.category-headline wed
							th.category-headline thu
							th.category-headline fri
							th.category-headline sat

						tbody
							- for (var i=0; i<24; i++)
								tr
									td= i
									- for (var j=0; j<7; j++)
										td
											input(type='checkbox').timeslotSelector



		.row
			.col-xs-12
				button.btn.submitBt(type='submit') Submit
script(src='/javascripts/djapp.js')