extends ../../_layout
block content
  .container-fluid
    .row
      .col-xs-12
        h1= title
    .row
      .col-xs-12
        h4
          span.numApps #{apps.length} 
          span  pending applications
    table.table.table-hover
      thead
        tr
          th Title
          th Blurb
          th DJs
          th Grad Year
          th Description
          th Availability
          th Time Preference
          th Submitted
          if current_user.access >= 3
            th Action
      tbody
        each app in apps
          tr(data-appid= app.id)
            td= app.title
            td= app.blurb
            if app.first_name.length === 1
              td #{app.first_name} #{app.last_name}
            else
              td
                - var numUsers = app.first_name.length
                - var i = 0
                while i < numUsers
                  p #{app.first_name[i]} #{app.last_name[i++]}
            td
              each entry in app.grad_year
                p= entry  
            td= app.description
            td(data-appid = app.id)
              +slots(app.availability)
              
            td= app.time_pref
            td.dateFromNow= app.created
            if current_user.access >= 3
              td
                - var appId = app.id
                +approve(appId)
              
            
mixin slot(ts)
  a.pickTimeslot(href='' data-ts= ts)
    p.timeslot.toDate= ts
    
mixin slots(slots) 
  each slot in slots
    +slot(slot)
    
//- mixin availButton(slots)
//-   button.btn.btn-default(type='button' data-html=true data-trigger='focus' data-toggle='popover' data-content=slots)
  
mixin approve(app_id)
  - var url = 'applications/' + app_id
  form.approveApp(action=url method='post' data-appid= app_id)
    .input-group
      //- .input-group-addon
      //-   span Timeslot
      input.form-control(type='number' placeholder='0' name='selectedTimeslot' data-appId= app_id)
      .input-group-addon
        button.approveApp.btn.btn-success(data-appid=app_id type='submit' data-loading-text='Approving...' disabled=true) Approve!
  form.deleteApp(action=url method='post')
    button.deleteApp.btn.btn-danger(type='submit' data-appid= app_id data-loading-text='Deleting...') Deny
    
block scripts
    script(src='/build/js/bundle.min.js') 

          
