extends ../../layout
block content
	.container-fluid
		.row
			.col-xs-4
				h1= title
		.row
			.col-xs-4
				p Welcome to #{title} 
	.container-fluid		
		table#userTable.table-striped.table.table-bordered.table-hover
			thead
				tr
					th user
					th dj Status
					th access
					th first Name
					th last Name
					th grad year
					th shows
			tbody
				each user, i in userlist
					tr
						td.userId= user._id
						td= user.djStatus
						td= user.access
						td= user.firstName
						td= user.lastName
						td= user.gradYear
						td= user.shows
						td= user.show_id